.family-container {
    border: 2px solid #c8a2c8; /* Violet */
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    background-color: #f9f4ff; /* Violet très clair */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #5e3370; /* Violet foncé */
}

.family-container h1 {
    font-size: 2em;
}


.add-button {
    margin-bottom: 15px;
    background-color: #ffff54;
    border-radius: 20px;
    padding: 10px 20px;
    color: #5e3370;
    border: 2px solid #5e3370;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: #5e3370;
    color: #ffff54;
}
