.login-container {
    border: 2px solid #5e3370; /* Violet foncé */
    border-radius: 10px;
    padding: 30px;
    background-color: #c8a2c8; /* Violet très clair */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 50px auto;
    width: 90%; /* Ajustement responsive */
}

.login-container h1 {
    font-size: 2em;
    color: #5e3370; /* Violet foncé */
    text-align: center;
    margin-bottom: 20px;
}

.login-container label {
    font-size: 1.1em;
    color: #5e3370;
    display: block;
    margin-bottom: 8px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    background-color: #f9f4ff; /* Conserver la cohérence avec le fond */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: border 0.2s ease-in-out;
    box-sizing: border-box; /* Pour inclure le padding et la bordure dans la largeur */
    max-width: 400px; /* Limite maximale de largeur */
    margin: 0 auto; /* Centrer le champ */
}

.login-container input:focus {
    border-color: #5e3370; /* Violet foncé */
    outline: none;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #ffff54; /* Jaune vif */
    border: 2px solid #5e3370; /* Violet foncé */
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.1em;
    color: #5e3370; /* Texte violet foncé */
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 400px; /* Limite maximale de largeur */
    margin: 20px auto; /* Centre le bouton */
}

.login-container button:hover {
    background-color: #5e3370; /* Violet foncé */
    color: #ffff54; /* Texte jaune */
}

.login-container a {
    color: #5e3370; /* Violet foncé */
    text-decoration: none;
    font-weight: bold;
}

.login-container a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    margin-top: 10px;
    text-align: center;
    font-size: 0.9em;
}

.forgotten-password {
    text-align: center;
    font-size: 0.9em;
    color: #5e3370;
}

.login-separator {
    border: 1px solid #5e3370; /* Violet foncé */
    margin: 30px auto 20px auto;
}

.not-registered {
    text-align: center;
    font-size: 0.9em;
    color: #5e3370;
    margin: 20px 0 0;
}
