body {
    font-family: 'Helvetica', 'Verdana', 'Arial', sans-serif;
    color: #5e3370; /* Violet foncé */
}

h1 {
    margin: 0;
}

input:not([type="submit"]),
select {
    border-radius: 10px;
    border: 1px solid #5e3370;
    margin-bottom: 10px;
}
