.logo {
    height: 100px;
    width: auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffff54;
    border: 2px solid #c8a2c8;
    border-radius: 10px;
    padding: 10px 20px;
    max-height: 100px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    margin-left: auto; /* Align deconnexion button to the right */
}

.deconnexion,
.navbar-button{
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 600; /* Ajuster à 600 pour correspondre à un bold standard */
    font-size: 1rem; /* Ajuste la taille de la police pour être cohérente */
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Supprimer la décoration des liens */
    display: inline-block; /* Comportement des liens comme des boutons */
    line-height: 1; /* Assure que la hauteur de ligne soit cohérente */
}

.deconnexion {
    background-color: #a30000; /* Rouge */
    color: #FFFF54;
    border: 2px solid #a30000;
    margin-left: 50px;
}

.deconnexion:hover {
    background-color: #FFFF54; /* jaune vif */
    color: #a30000; /* Rouge */
    border: 2px solid #a30000;
    text-decoration: none; /* Assure qu'il n'y a pas de soulignement au survol */
}

.navbar-button {
    background-color: #5e3370; /* Violet foncé */
    color: #ffff54;
    border: 2px solid #5e3370;
}

.navbar-button:hover {
    background-color: #ffff54; /* Jaune vif */
    color: #5e3370;
    text-decoration: none; /* Assure qu'il n'y a pas de soulignement au survol */
}
